<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<h1>Payment Page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</body>
</html>